bg-primary-b {
  background-color: #7e003f;
}

text-primary-b {
  color: #924860;
}

bg-secondary-b {
  background-color: #0f0b15;
}

text-secondary-b {
  color: #1d3a79;
}

bg-tertiary-b {
  background-color: #7c663f;
}

text-tertiary-b {
  color: #b59359;
}

bg-accent-b {
  background-color: #1b0b13;
}

text-accent-b {
  color: #1b0b13;
}
